*{
    font-size: inherit;
    font-family: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
    outline: none;
    border: 0;
}
a{
    color: inherit;
}
//fonts
@font-face {
    font-family: "LatoReg";
    src: url('../../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: "LatoBold";
    src: url('../../fonts/Lato-Bold.ttf');
}


//pallete
$font-main: "LatoReg";
$font-paragraph: "LatoReg";
$font-title: "LatoBold";
// $table-border: rgb(215, 215, 215);
$table-border: rgba(34,36,38,.1);
$max-width: 1400px;

.w18{
    width: 18%;
}
.w20{
    width: 20%;
}
.w23{
    width: 23%;
}
.w25{
    width: 25%;
}
.w28{
    width: 28%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w45{
    width: 45%;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}
.w75{
    width: 75%;
}
.w80{
    width: 80%;
}
.w100{
    width: 100%;
}
