//Compile
@import 'global';

#loginParent{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #1d1d1d;
    overflow: hidden;
    font-family: $font-main;
    font-size: 14px;
    background-image: url('../../img/etc/bg.jpg');
    background-position: center center;
    background-size: cover;
    .login-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-form{
        color: white;
        .form-logo{
            text-align: center;
            width: 80px;
            height: 80px;
            border: 4px solid #da2355;
            color: #da2355;
            border-radius: 50%;
            font-size: 25px;
            line-height: 70px;
            margin: 0 auto 30px;
            opacity: 0.8;
        }
        .form-group{
            margin: 13px 0;
            display: flex;
            align-items: center;
            label{
                padding-left: 5px;
                font-size: 12px;
                line-height: 1;
            }
            .copyright{
                padding: 10px 0;
                display: block;
                color: white;
                margin: auto;
                opacity: 0.8;
                text-decoration: underline;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #eee;
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: #eee;
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: #eee;
            }
            :-moz-placeholder { /* Firefox 18- */
              color: #eee;
            }
        }
        .form-group.right{
            margin: 13px 0 25px;
            justify-content: flex-end;
        }
        .full-input{
            background: rgba(255,255,255,0.3);
            padding: 13px;
            width: 270px;
            color: black;
            padding-left: 45px;
            border-radius: 5px;
            color: #eee;
        }
        .full-input:focus{
            background: rgba(255,255,255,0.9);
            color: #333;

        }
        .full-input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #888;
        }
        .full-input:focus::-moz-placeholder { /* Firefox 19+ */
          color: #888;
        }
        .full-input:focus:-ms-input-placeholder { /* IE 10+ */
          color: #888;
        }
        .full-input:focus:-moz-placeholder { /* Firefox 18- */
          color: #888;
        }
        .alert{
            color: red;
            text-align: center;
            display: none;
        }
        #loginUsername{
            background-image: url('../../img/icons/username.png');
            background-size: 15px;
            background-position: 15px center;
            background-repeat: no-repeat;
        }
        #loginPassword{
            background-image: url('../../img/icons/password.png');
            background-size: 18px;
            background-position: 13px center;
            background-repeat: no-repeat;
        }
        .full-input.button{
            background: #333;
            cursor: pointer;
            color: white;
            text-align: center;
            padding-left: 0;
        }
    }
}

//Dashboard Start

#sideNav{
    font-family: $font-main;
    width: 270px;
    background: #1a2638;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 55;
    color: white;
    font-size: 16px;
    .nav-module{
        // padding: 10px;
    }
    .top{
        background: rgba(0,0,0,0.5);
        padding: 10px;
        height: 60px;
    }
    .middle{
        .module-title{
            opacity: 0.8;
            font-family: $font-title;
            margin-bottom: 5px;
            padding: 10px;

        }
        ul.main-ul{
            >li{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                border-left: 5px solid rgba(71, 199, 69, 0);
                color: rgba(255,255,255,0.8);
                cursor: pointer;
                // height: 38px;
                position: relative;
                >a{
                    font-size: 0.95rem;
                    position: relative;
                    display: block;
                    padding: 10px 0px;
                    display: block;
                    width: 80%;
                }
                .img-thumb{
                    width: 12px;
                    margin: 0 15px 0 10px;
                    filter: invert(1);
                    opacity: 0.8;
                }
            }
            >li:hover{
                background: rgba(0,0,0,0.1);
            }
            >li.active{
                background: rgba(0,0,0,0.2);
                border-left: 5px solid rgba(71, 199, 69, 0.49);
            }
        }
    }
}
#topNav{
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 54;
    width: 100%;
    background: white;
    box-shadow: -1px -3px 11px 6px rgba(0,0,0,0.2);
    padding-left: 270px;
    padding-right: 30px;
    font-family: $font-main;
    .nav-module{
        display: flex;
        padding-left: 30px;
        .notif-module{
            background: #eee;
            padding: 5px 15px;
            margin-right: 15px;
            font-size: 14px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            img{
                max-width: 15px;
                max-height: 15px;
                display: block;
                margin-right: 5px;
                filter: invert(1);
            }
        }

        .notif-module.trans{
            background: rgb(124, 158, 233);
            color: white;
        }
        .notif-module.mem{
            background: rgb(179, 132, 227);
            color: white;
        }
        .notif-val{
            height: 25px;
            width: 25px;
            background: rgb(232, 50, 50);
            color: white;
            display: inline-block;
            text-align: center;
            margin-left: 10px;
            border-radius: 50%;
            font-size: 12px;
            line-height: 25px;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .user-nav{
        display: flex;
        align-items: center;
        .avatar-box{
            width: 30px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px;
            img{
                display: block;
                width: 100%;
            }
        }
        .username-button{
            font-family: $font-title;
            color: #888;
            cursor: pointer;
            .admin-type{
                padding-left: 5px;
            }
            .admin-type:before{
                content: "("
            }
            .admin-type:after{
                content: ")"
            }
        }
    }

}
.splash-banner{
    padding: 50px 30px;
    background: black;
    background-image: url('../../img/etc/bg.jpg');
    color: White;
    font-size: 40px;
    color: rgba(255,255,255,0.8);
}
#mainContent{
    font-family: $font-main;
    width: 100%;
    position: relative;
    padding-left: 270px;
    background: #eaeaea;
    min-height: 200vh;
    // padding-right: 30px;
    padding-top: 60px;
    .container{
        max-width: $max-width;
        padding: 0 30px;
    }
}
.generic-btn{
    padding: 5px 18px;
    color: white;
    background: #333;
    // margin: auto;
    cursor: pointer;
    margin: 5px auto;
}
.generic-btn.red{
    background: rgb(189, 91, 91);
}
.edit-linked{
    .generic-btn{
        display: none;
    }
    .full-input{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid transparent;
    }
}
.edit-linked.edit{
    .generic-btn{
        display: block;
    }
    .full-input{
        border: 1px solid $table-border;
    }
}
.module-parent{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .flex-module{
        background: white;
        box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.1);
        // margin-bottom: 25px;
        .module-title{
            font-family: $font-title;
            font-size: 20px;
            padding: 10px 30px 10px 20px;
            color: #555;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title-functions{
                display: flex;

            }
            .function-module{
                border: 1px solid #eee;
                font-size: 14px;
                padding: 7px 7px;
                cursor: pointer;
                background: #eee;
                margin-left: 10px;
                border-radius: 5px;
                img{
                    display: block;
                    max-width: 15px;
                }
            }
            .add{
                background: #1e2f4e;
                color: rgba(255, 255, 255, 0.9);
                display: flex;
                align-items: center;
                img{
                    filter: invert(1);
                    display: block;
                    margin-right: 5px;
                    width: 10px;
                }


            }

        }
        .module-title.sep{
            border-bottom: 1px solid #eee;
        }
        .module-container{
            padding: 15px 20px;
        }
    }
}

#mainModule{
    display: flex;
    justify-content: space-between;
}
.dataTables-parent{
    padding: 30px;
    text-align: left;
    font-size: 14px;
    .table-edit{
        max-width: 15px;
        display: block;
        margin: auto;
    }
    .dataTables_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .u-admin{
        font-size: 12px;
    }
    .username:hover{
        text-decoration: underline;
    }
    .bank{
        font-family: $font-title;
    }
    input, select{
        padding: 8px 8px;
        border: 1px solid #eee;
        border-radius: 5px;
        margin: 0 10px 10px;
    }
    input{
        margin-right: 0;
    }
    tfoot, thead{
        // display: none;
        font-family: $font-title;
    }
    tfoot{
        display: none;
    }
    table{
        border: 1px solid $table-border;
        border-bottom: 0;
        border-radius: 5px;
        overflow: hidden;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    tr{
        td:first-child, th:first-child{
            border-left: 0;
        }
        td{
            color: rgba(3, 6, 31, 0.95);
            padding: 11px 8px;
            border-left: 1px solid $table-border;
            border-bottom: 1px solid $table-border;
        }
        th{
            padding: 13px 8px;
            border-left: 1px solid $table-border;
            border-bottom: 1px solid $table-border;
            cursor: pointer;
            background: #eee;
            font-size: 15px;
        }
        td:nth-child(2){
            // font-family: $font-title;
        }
    }
    tr:nth-child(odd){
        background: #f8f8f8;
    }
    tr:hover{
        background: rgb(239, 247, 204);
    }
    .dataTables_paginate{
        margin-top: 15px;
        display: flex;
        border: 1px solid $table-border;
        border-radius: 5px;
        overflow: hidden;
        span{
            display: flex;
        }
    }
    .paginate_button{
        border: 1px solid $table-border;
        padding: 0 10px;
        margin-left: -1px;
        display: block;
        min-width: 40px;
        min-height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        border-top: 0;
        border-bottom: 0;
        color: #333;
        background: white;
    }
    .paginate_button.current{
        background: #eee;
        // border: 1px solid #eee;
        // color: white;
    }
    .paginate_button.disabled{
        color: #ddd;
        cursor: not-allowed;
    }
    .paginate_button:last-child{
        border-right: 0;
    }
    .pending{
        background: rgb(222, 113, 113);
    }
    .confirmed{
        background: rgb(140, 207, 151);
    }
    .status{
        color: white;
    }
    .VIP{
        background: rgb(80, 91, 168);
        color: white;
    }
}

#transactionTable{

}
.quick-form{
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    .form-group{
        display: flex;
        align-items: center;
        padding: 5px 0;
        width: 100%;
        .group{
            display: flex;
            align-items: center;
        }
        .promo-confirmation{
            text-align: left;
            font-family: $font-title;
            width: 50%;
            padding-left: 5px;
            color: #555;
        }
    }
    .caption{
        margin-right: 10px;
        width: 25%;
        text-align: right;
    }
    input, select{
        border: 1px solid #eee;
        padding: 5px 8px;
        border-radius: 3px;
        overflow: hidden;
    }
    .group{
        width: 75%;
        justify-content: space-between;
    }
    .full-input{
        width: 75%;
    }
    .sm-input{
        width: 40%;
    }
    .md-input{
        width: 58%;
    }
    .form-submit{
        font-size: 15px;
        padding: 5px 20px;
        background: #333;
        color: #eee;
        margin: auto;
        cursor: pointer;
        border: none;
    }
}

#memberDetail{
    .form-group{
        display: flex;
        align-items: center;
        margin: 5px 0;
    }
    .caption{
        font-size: 16px;
        font-family: $font-title;
        width: 130px;
        padding-right: 10px;
        text-align: right;
        opacity: 0.8;
    }
    .value{
        font-size: 16px;
    }
}
.popup-parent{
    display: none;
    font-family: $font-main;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5555;
    .popup-fader{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,0.7);
    }
    .popup-content{
        padding: 10px;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
}
.addTransBtn{
    cursor: pointer;
}
#addTransactionForm{
    max-width: 500px;
    padding: 10px 30px 30px;
    font-size: 16px;
    .form-title{
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        font-size: 18px;
        font-family: $font-title;
    }
    .caption{
        font-family: $font-title;
    }
}
.popup-parent.active{
    display: block;
}
